{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            {% for task in task_list %}
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>
                            {% if task.is_completed %}
                                Done
                            {% else %}
                                <form method="post" action="{% url 'complete_task' task.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
            {% empty %}
                <p>You have no tasks</p>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
