{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url "create_project" %}">Create a new project</a>
        </p>
        {% if not projects %}<p>You are not assigned to any projects</p>{% endif %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for name in project_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' name.id %}">{{ name.name }}</a>
                        </td>
                        <td>{{ name.tasks.all | length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
